<?xml version="1.0" ?>
<launch>
  <node name="simple_fusion" pkg="fovis_ros" type="simple_fusion" output="screen">
	  <rosparam file="$(find fovis_ros)/config/fovis/anymal.yaml" />
	  <param name="config_filename" value="$(find fovis_ros)/config/robot/anymal.yaml" />
  </node>
  <include file="$(find fovis_ros)/launch/trajectory_server.launch"/>
  <include file="$(find fovis_ros)/launch/trajectory_server.launch">
    <arg name="prefix" value="fovis" />
    <arg name="target_frame" value="base_fovis" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fovis_ros)/config/fovis_ros.rviz"/>

</launch>
